body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2 {
    margin: 0 auto;
    font-size: 35px;

}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-wrap {
    flex-wrap: wrap;
    height: 432px;
    width: 432px;

}

.flex-column {
    height: 100%;
    width: 100%;
    flex-direction: column;
}


.square {
    border: 2px solid rgba(0,0,0,.75);
    width: 140px;
    height: 140px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#reset-button {
    text-align: center;
    font-size: 20px;
    border: 1px solid black
    
}